This site is a portfolio and blog for Byron Wall.

My links:

- <https://byroni.us>
- GitHub: <https://github.com/byronwall>
- LinkedIn: <https://www.linkedin.com/in/byronwall/>
- Email: <byron@byroni.us>
- YouTube: <https://www.youtube.com/@byronwall>
- Twitter: <https://x.com/byronwall>

My resume for filling out content:

BYRON WALL

<byron@byroni.us> | byroni.us

Indianapolis, IN 46220

Objective

Transition to a full-time software development role, emphasizing programming contributions in engineering roles.

Skills and Competencies

Expert:
Excel/VBA
TypeScript/JavaScript
Data analysis and visualization
Statistics
Proficient:
C#
Node.JS, Express
React
SQLite
Python, R
RESTful APIs
Git
Professional Experience

Allison Transmission / Indianapolis, IN

Hydraulic and Fluid Systems Engineer

November 2017 – Present

Managed technical aspects of transmission fluid globally, supported hydraulic development
Created a data analysis platform for transmission testing data
Codebase: ~60k LOC, C# (back end), Typescript, React (front end)
Significant productivity and transmission operation insights
Custom calculation DSL/syntax
Interactive data analysis using d3.js, DC.js
Developed interactive hydraulic schematic tool (Electron app, React, TypeScript)
Enhanced Python tool for transmission architecture search
TDA Research / Denver, CO

Research and Project Engineer

August 2015 – October 2017

Supported $2MM+ CO2 capture pilot plant design and operation
Programmed data pipeline for CSV to InfluxDB transfer and Grafana charting
Developed Excel add-in (C# XLL)
Automated quoting tool using Excel/VBA
Continental Technologies / Boulder, CO

November 2014 – July 2015

Chevron Phillips Chemical Company / Pasadena, TX

Operations and Process Engineer

June 2010 – July 2014

Supported polyethylene and polypropylene units' operations
Developed Excel VBA add-in for data querying and analysis
Created a SharePoint site for centralized access
Built desktop applications with C#
Ranked in the top 5% of employees consecutively
runnDAILY.com / Indianapolis, IN

Co-Founder and Full Stack Developer

November 2008 – August 2010

Developed a fitness mapping website
Front end: HTML, CSS, JavaScript, jQuery
Back end: PHP, MySQL, Apache
Featured in Purdue Exponent newspaper
Education

Purdue University / West Lafayette, IN
Bachelor of Science in Chemical Engineering
GPA: 3.97/4.00
August 2006 – May 2010
